DATABASE_URL="postgresql://postgres.zmqgioiqahmfyefgxujq:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.zmqgioiqahmfyefgxujq:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SITE_URL=https://dev-mahmoudakram.netlify.app
ADMIN_PASSWORD=change-this-admin-password
ADMIN_SESSION_SECRET=change-this-admin-session-secret
GMAIL_EMAIL=your-email@gmail.com
GMAIL_APP_PASSWORD=your-gmail-app-password
