DATABASE_URL="postgresql://postgres.zmqgioiqahmfyefgxujq:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.zmqgioiqahmfyefgxujq:[YOUR-PASSWORD]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
